/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
img,
video,
svg {
	vertical-align: bottom;
}
html,
body {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
	color: #222;
	line-height: 120%;
	/* overflow: hidden; */
}
body {
	margin-bottom: 3rem;
}
header {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	background-color: rgb(26, 122, 196);
	color: #fff;
	border-bottom: 1px solid black;
	box-shadow: 0 0 10px black;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
#score {
	position: absolute;
    top: 14px;
    left: 12px;
    color: orange;
}
h1 {
	text-align: center;
	line-height: 120%;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5rem;
}
h1 a {
	color: #ffffff;
	text-decoration: none;
}
h2 {
	font-size: 1.25rem;
}
p {
	font-size: 1rem;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
input {
	font-size: 18px;
}


.splash {
	position: fixed;
	z-index: 9000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(26, 122, 196);
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.splash h1 {
	font-size: 3rem;
}
.splash > * {
	margin-bottom: 4rem;
}
.splash a {
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 1rem 2rem;
	border-radius: 8px;
	font-size: 1.5rem;
	transition: 250ms;
}
.splash a:hover {
	color: black;
	border-color: black
}
.splash.remove {
	display: none;
}


.hamburger {
	width: 1.6rem;
	margin-right: 1rem;
    margin-left: auto;
    position: absolute;
    top: 12px;
    right: 0;
	cursor: pointer;
    border: 1px solid #ffffff;
    padding: 4px;
    border-radius: 4px;
}

nav {
    position: fixed;
	z-index: 5;
    top: 51px;
    right: 0;
    bottom: 0;
    left: 0;
	transform: translateX(100%);
	transform-origin: right;
	background-color: rgb(26, 122, 196);
	transition: 250ms;
	overflow: scroll;
}
nav.show {
	transform: translateX(0);
}
nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
    height: 100%;
}
nav li {
	font-size: 1.15rem;
	width: 40%;
	margin: 1rem 5%;
}
@media screen and (max-width:640px) {
	nav li {
		padding: 0 0.175rem;
	}
}
nav li a {
	color: #fff;
	text-decoration: none;
	padding: 1rem 0.375rem;
	display: flex;
}
nav li a .emoji {
	padding-right: 0.5rem;
}


.view {
	min-height: calc(100vh - 51px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding-top: 51px;
}
.view.d-none {
	display: none;
}
.view h2 {
	width: 100%;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.25rem;
	color: rgba(26, 122, 196, 1);
}


#copyright {
	position: fixed;
    z-index: 100;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: rgba(26, 122, 196, 0.75);
	font-size: 0.675rem;
	border-top: 1px solid rgba(26, 122, 196, 0.75);
}
#copyright,
#copyright a {
	color: #ffffff;
	text-decoration: none;
}
#copyright span {
	position: absolute;
	right: 0;
	color: #ffffff;
	padding: 0 0.5rem;
}


form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
input {
	margin-top: 0.5rem;
	padding: 0.5rem;
	background-color: #fff;
	border: 1px solid rgba(26, 122, 196, 1);
	outline: none;
}
input[type="button"],
input[type="submit"] {
	background-color: rgba(26, 122, 196, 1);
	color: #fff;
	cursor: pointer;
}





#alphabet {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}
#alphabetBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}
#alphabetBox .box {
	border-radius: 6px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: rgba(26, 122, 196, 0.75);
	border: 1px solid rgba(26, 122, 196, 1);
	line-height: 50px;
	margin: 0.5rem;
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
}
#alphabetBox .box:hover {
	background-color: rgba(26, 122, 196, 1);
}




#clavier {
	text-align: center;
}
#clavier .box {
	border-radius: 6px;
	width: 46px;
	height: 50px;
	letter-spacing: 5px;
	cursor: pointer;
	background-color: rgba(26, 122, 196, 0.75);
	border: 1px solid rgba(26, 122, 196, 1);
	line-height: 50px;
	margin: 0.5rem;
	color: #fff;
	font-size: 1.5rem;
	text-transform: uppercase;
}




.imageGrid .theBox .box {
	width: 50%;
}
@media screen and (min-width: 612px) {
	.imageGrid .theBox .box {
		width: 33.33333333%;
	}
}
@media screen and (min-width: 800px) {
	.imageGrid .theBox .box {
		width: 25%;
	}
}
@media screen and (min-width: 1024px) {
	.imageGrid .theBox .box {
		width: calc(100% / 5);
	}
}
@media screen and (min-width: 1200px) {
	.imageGrid .theBox .box {
		width: calc(100% / 6);
	}
}
@media screen and (min-width: 1400px) {
	.imageGrid .theBox .box {
		width: calc(100% / 7);
	}
}
#recopie #recopieMot,
.imageGrid h2 {
	cursor: pointer;
}
.imageGrid .theBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	list-style-type: none;
}
.imageGrid .theBox .box.clickable {
	cursor: pointer;
}
.imageGrid .theBox .box {
	transition: 250ms;
}
.imageGrid .theBox .box:not(.clickable) {
	opacity: 0.5;
}
.imageGrid .theBox img {
	width: 100%;
}



#recopie #recopieMot {
	text-transform: uppercase;
}
#recopie img {
	width: 100%;
}
#recopie #recopieSaisie {
	text-transform: uppercase;
}
#recopie #recopieSuivant {
	/* display: none; */
	visibility: hidden;
}
#recopie #recopieSuivant.show {
	/* display: block; */
	visibility: visible;
}